#space{
    width: 900px;
    height: 1100px;
    border: 2px solid black;
    margin: auto;
    position: relative;
}
.left{
    width: 290px;
    background-color: #f7d6d0;
    float: left;
    height: 100%;
  
}
.main{
    width: 610px;
    height: 100%;
    background-color: white;
    float: right;

}
.photo{
    width: 250px;
    height: 250px;
    border: 15px solid white;
    position: absolute;
    left: 55px;
    top: 28px;
    border-radius: 150px;
    display: inline-block;
    
}
#photo{
    width: 235px;
    height: 235px;
    border: 8px solid #f4c2c2;
    border-radius: 150px;
    display: inline-block; 
    margin-left: -1px;
    margin-top: -1px;  
} 
.info{
    height: 65%;
    width: 100%;
    margin-top: 360px;
}
.head{
    width: 95%;
    height: 50px;
    background-color: aliceblue;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.h1info{
    padding-top: 4px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 36px;
}
.hrinfo{
    margin: 0px;
    width: 87%;
    height: 10px;
    background-color: #f4c2c2;
    border-bottom-right-radius: 20px;
    border: 0px;
}
.liinfo{
   list-style-type: none;
   position: relative;
   padding-left: 8px;
   font-size: 19px; 
   padding-top: 9px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.liinfo::before{
    content: "\2192";
    font-size: 30px;
    position: absolute;
    left: -33px;
    top: 2px;
}
.h1{
    display: inline-block;
    padding-left: 64px;
    padding-top: 123px;
    font-family: 'Kalnia', serif;
}
.about{
    width: 100%;
    height: 75%;
    background-color: white;
    margin-top: 67px;
}
#hr{
    height: 95%;
    width: 3px;
    border-radius: 10px;
    background-color: #b76e79;
    float: left;
    margin-left: 31px;
    margin-top: 0px;
}
.information{
    height: 100%;
    width: 572px;
    float: right;
    position: relative;
}
.hrabout{
    height: 4px;
    width: 52px;
    margin: 0px;
    border-radius: 5px;
    background-color: #b76e79;
    margin-left: -28px;
    margin-top: 31px;
}
.headabout{
    width: 233px;
    height: 48px;
    background-color:  #f4c2c2;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 7px;
    position: absolute;
    left: 30px;
    top: 12px;
}
.h1about{
    margin: 0px;
    padding-top: 4px;
    padding-left: 19px;
}
.pabout{
    margin-top: 34px;
    margin-left: 27px;
    font-size: 18px;
    margin-bottom: 9px;
}
.headEdu{
    width: 233px;
    height: 48px;
    background-color:  #f4c2c2;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 7px;
    position: absolute;
    left: 30px;
    top: 190px;
}
.liabout{
    margin-top: 35px;
    font-size: 23px;
}
.p{
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 0px;
}
.headskill{
    width: 233px;
    height: 48px;
    background-color:  #f4c2c2;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 7px;
    position: absolute;
    left: 30px;
    top: 600px;   
}
.liskill{
    margin-top: 40px;
    font-size: 22px;
}
.liskills{
    margin-top: 14px;
    font-size: 22px;
}